<html>
  <head>
    <title>
      <%= title %>
    </title>
    
  </head>
  <body>
    <form action="/" method="post">
      <label for="name">Name:</label>
        <input type="text" name="name"><br><br>
      <label for="category">Category:</label>
        <input type="text" name="category"><br><br>
      <label for="long">Longitiude</label>
        <input type="text" name="long"><br><br>
      <label for="lat">Latitiude</label>
        <input type="text" name="lat"><br><br>
        
        <input type="submit" value="Submit">
    </form>
  </body>
</html> 