<html>
        <head>
          <title><%= title %></title>
        </head>
        <body>
            <h1><%= title %></h1>
          <form action="/remove" method="post">
            <label for="name">Provide Name you want to update:</label>
            <input type="text" name="nameTobBeRemoved"><br><br>
            <hr>
          
              
              <input type="submit" value="Remove Record">
          </form>
        </body>
      </html> 